body {
    font-family: arabic;
    background-image: url("https://lh3.googleusercontent.com/j2l6Q5mMHXTX8WsBQuprI7ITrnSK9J47PdAZQTcK_RV2_XmcvkU-tGQODhNMuTotXtYRaCns_pzPaEMNu5QJuo_SiO7fmLT10fVM65W_Dp1SnMn2pB9ZVW9n5BzKiHCIu9-kJrQqe2Xq19n4UzT8F_3gHRA9e2HuJprkn0liAtPmlRnnfA-GyHIuuxu6Ethpv3au7PRY2D_yQZ7HDAh5waroO0edgL_jCrIgbi1xlhQUVhr_zMrAMzDZx1SGgO_jDXd5jLamSxHe7z4ctPYShg-cjDP92Q1NL36nPLVkh8mODSQwAjpMeIFn9ESMiqfWoTOxNhTvpvuhNPswnMbpaD_EXV_SfmDNi_ZKMhPeZeZkYZJHwNsK2X1738SsZD_I8_lkD0xBLOTQUcw6NO_CPP0Xbj7axRR1Qa9V5k8nD-8pEkkdMUoxn3XP9-O9XMLn1x6kbb339K8gO1fKT0t4r2wHr7i03qWt_NUDAdeRYmGbeL3G9D7ijqe01X13nvv-GYwE8O87yyybm5Imb7WCKhO9_rZJXuk7lGtP5W6p51oEIuTzfclfKa-shA6MXWKKpzi_CU7yfYIP7_PhjC7n5W0YIkLj5SGyLIvL9kg=w926-h694-no");
     background-repeat: repeat-y;
    margin-top: 5px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
}

 .container{
                max-width:800px;
                margin:0 auto; 
                color:red;
                font-family:algerian;
                padding-top:80px;
                padding-left:80px; 
            }