body {
    font-family: arabic;
    background-image: url("https://lh3.googleusercontent.com/NkxV45SL-X5agKMB98Xh9cAaywf6gttta70EajXGFUwjZjM_tGIU0kMPJkcgmHiBPWbm04v346JkufxBQI7ZZh3OSc5PXg36fonN0eMPQjgmCkzKbMWcQQANhb2ypxj1kpbu2THCgBAfx3tO4pm6_oVF2_N01PPJTOH2V6R-kYY-dYs1WuL4yXNlD88A2cIY2l9iIjtF-UYLzCStOVxMX3-eaLgRj1avG-VPDeLXhzbcuwLB8zUyvqC-ed3adWyCZYhXb3lKjms6judjeNYTtxBn_ZzdHl3fwBVINHymltEBsE_68dbdCppyQdzv1JzzlPi84MhAl1b_VbcmblHM3PEM9KRp6kGSeAbQndBm34q7KqGnmLjc5IrAaTvZZwFS2O-gsGF8MR99Ex3bHbbuK0DxAUKYVgmbg7J4H_VH0ivxOo7xEWZ1atlbawikW_RlW23hoLPBfwjlI7_nj4vLm7HEJlXVOmEVKdVkn1FbM0jt_mhGwz6x4yDSuwjcnG5pYYVNkjGU_Ak76vcBsznnpG9i49SAZ-qyheTtvpUIPa-VwYjbSscctR46BLikNglT77A7DIV8l51zbDLetzOS6iRpH65Mz-pf280DFw=w320-h240-no");
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
}

 .container{
                max-width:800px;
                margin:0 auto; 
                color:red;
                font-family:algerian;
                padding-top:80px;
                padding-left:80px; 
            }